.icon-add {
    background-image: url(../images/icon/default/add.gif) !important;
}
.icon-upd {
    background-image: url(../images/icon/default/upd.png) !important;
}
.icon-del {
    background-image: url(../images/icon/default/delete.png) !important;
}
.icon-save {
    background-image: url(../images/icon/default/save.png) !important;
}
.icon-search {
    background-image: url(../images/icon/default/search.png) !important;
}
.icon-check {
    background-image: url(../images/icon/default/check.png) !important;
}
.icon-excel {
    background-image: url(../images/icon/default/excel.png) !important;
}
.icon-word {
    background-image: url(../images/icon/default/word.png) !important;
}
.icon-tache {
    background-image: url(../images/icon/default/script_link.png) !important;
}
.icon-drive {
    background-image: url(../images/icon/default/drive.png) !important;
}
.icon-star {
    background-image: url(../images/icon/default/star.png) !important;
}
.icon-printer {
    background-image: url(../images/icon/default/printer.png) !important;
}
.icon-upload {
    background: url(../images/icon/default/image_add.png) no-repeat 0 0 !important;
}
.icon-user {
    background-image: url(../images/icon/default/user.png) !important;
}
.icon-user-gray {
    background-image: url(../images/icon/default/user_gray.png) !important;
}
.icon-refresh {
    background-image: url(../images/icon/default/refresh.png) !important;
}
.icon-request {
    background-image: url(../images/icon/default/requestIcon.png) !important;
}
.icon-send {
    background-image: url(../images/icon/default/send.png) !important;
}
.icon-wuxiao {
    background-image: url(../images/icon/default/wuxiao.png) !important;
}
.icon-ruantuixin {
    background-image: url(../images/icon/default/ruantuixin.png) !important;
}
.icon-laji {
    background-image: url(../images/icon/default/laji.png) !important;
}
.icon-lajijubao {
    background-image: url(../images/icon/default/lajijubao.png) !important;
}
.icon-dianji {
    background-image: url(../images/icon/default/dianji.png) !important;
}
.icon-dulidianji {
    background-image: url(../images/icon/default/dulidianji.png) !important;
}
.icon-dakai {
    background-image: url(../images/icon/default/dakai.png) !important;
}
.icon-dulidakai {
    background-image: url(../images/icon/default/dulidakai.png) !important;
}
.icon-quxiao {
    background-image: url(../images/icon/default/quxiao.png) !important;
}
.icon-txt {
    background-image: url(../images/icon/default/txt.png) !important;
}
.icon-stat {
    background-image: url(../images/icon/default/stat.png) !important;
}
.icon-calendar {
    background-image: url(../images/icon/default/calendar.gif) !important;
}
.icon-email_go {
    background-image: url(../images/icon/default/email_go.png) !important;
}
.icon-request {
    background-image: url(../images/icon/default/requestIcon.png) !important;
}
.icon-send {
    background-image: url(../images/icon/default/send.png) !important;
}
.icon-wuxiao {
    background-image: url(../images/icon/default/wuxiao.png) !important;
}
.icon-ruantuixin {
    background-image: url(../images/icon/default/ruantuixin.png) !important;
}
.icon-laji {
    background-image: url(../images/icon/default/laji.png) !important;
}
.icon-lajijubao {
    background-image: url(../images/icon/default/lajijubao.png) !important;
}